/*h1 {
  color: white;
  background-color: black;
/*}*/

.img-preview-container {
    border-width: 5px;
    border-style:dashed;
    border-radius: 25px;
    border-color: #03A9F4;
    background-color: #E1F5FE;
    padding:25px;
    text-align: center;
    margin:auto;
    max-width: 100%;
    max-height: 100%;
    min-height: 500px;
}

.img-options-container {
    display: flex;
    justify-content: space-around;
    padding:25px;
}

.preview-img {
    display: block;
    margin: auto;
    width: auto;
    max-width:100%;
    height: auto;
    max-height: 500px;
}

.action-btn-container {
    text-align: center;
}

.radio-btn {
    margin: 8px;
}

#fg_options {
    width: 200px;
    max-width: 100%;
    border-width: 1px;
    border-radius: 5px;
    border-color:#03A9F4;
    background-color: white;
    text-align: center;
}

#image-file-input {
    display: block;
}

label[for="image-file-input"]{
    display: inline-block;
    background-color: #81D4FA;
    padding: 10px 20px;
    border-radius: 1.5rem;
}

label[for="image-file-input"]:hover{
    background-color: #4FC3F7;
}

label[for="image-file-input"]:active {
    background-color: #03A9F4;
}

.action-btn {
    padding: 10px 20px;
    border-radius: 1.5rem;
    border: none;
    background-color: #81D4FA;
}

.action-btn:hover {
    background-color: #4FC3F7;
}

.action-btn:active {
    background-color: #03A9F4;
}

#download-img-btn {
    margin-top: 2rem;
}

.block-span {
    display: block;
    text-align: center;
    line-height: 2.5em;
}

.img-preview-options {
    display: flex;
    flex-direction: column;
}

#url_input {
    padding: 5px 5px;
    border-radius: 8px;
    border-color: #03A9F4;
    border-style: solid;
}

#load-img-btn {
    margin: 1.2em;
}

label[for="url_field"]{
    opacity: 0;
    display: block;
    height:1px; //bit hacky but accessible, I think? (verify with aria/4lly)
}

#drag_and_drop_block{
    text-align: center;
    margin:auto;
    background-color: gray;
    border-radius: 10px;
    width: 54em;
    height: 18em;
    max-width: 100%;
    max-height:50%;
    cursor: pointer;
}
